<footer class="footer">
  <div class="container">
    <ul class="d-flex jcc">
      <li class="mr-40">
        <a href="#"><img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week1/fb.png?raw=true" alt="FB"></a>
      </li>
      <li>
        <a href="#"><img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week1/instagram.png?raw=true" alt="IG"></a>
      </li>
      <li class="ml-40">
        <a href="#"><img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week1/line.png?raw=true" alt="LINE"></a>
      </li>
    </ul>
  </div>
</footer>