<footer class="footer">
  <div class="container">
    <a href="#" class="mr-40"><img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week1/fb.png?raw=true" alt="FB"></a>
    <a href="#"><img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week1/instagram.png?raw=true" alt="IG"></a>
    <a href="#" class="ml-40"><img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week1/line.png?raw=true" alt="LINE"></a>
  </div>
</footer>